<!DOCTYPE html>
<html>
<head>

<title>Campus Found-It AI</title>
<meta charset="UTF-8">

<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1828/1828640.png">

<link rel="stylesheet" href="/static/style.css">

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<h2>Campus Found-It AI</h2>

<div>
<span id="user"></span>
<button onclick="logout()">Logout</button>
</div>

</div>

<!-- MATCH POPUP -->

<div class="popup" id="popup">
🔥 AI MATCH FOUND!
</div>

<div class="container">

<!-- UPLOAD CARD -->

<div class="card">

<h3>Upload Item</h3>

<input id="title" placeholder="Item Title">

<textarea id="description" placeholder="Description"></textarea>

<select id="status">
<option value="lost">Lost</option>
<option value="found">Found</option>
</select>

<input type="file" id="image">

<button onclick="uploadItem()">Upload</button>

</div>

<!-- ITEMS CARD -->

<div class="card">

<h3>My Items</h3>

<div class="items" id="items"></div>

</div>

</div>

<script>

/* USER DATA */

const user_id = localStorage.getItem("user_id")
const name = localStorage.getItem("name")
const email = localStorage.getItem("email")

/* LOGIN CHECK */

if(!user_id){
window.location="/login-page"
}

/* SHOW USER */

document.getElementById("user").innerText = name + " (" + email + ")"

</script>

<!-- MAIN JS -->

<script src="/static/script.js"></script>

</body>
</html>
